* {
  box-sizing: border-box;

  font-family: Manrope, sans-serif;
  color: var(--secondary-color);
}

html {
  scroll-behavior: smooth;

  background-color: var(--primary-color);
}

body {
  align-items: center;
  height: 100vh;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

input {
  margin-left: 5px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;

  text-align: center;
}
